.container-abt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.img-abt {
    width: 100%;
    height:100%;
}

.img-abt img {
    width: 90%;
    height: 100%;
    border: 2px solid var(--dark-brown);
    border-radius: 2rem;
    object-fit: fill;
}

.about-content {
    width: 80%;
    height: 100%;
}

.about-content h1 {
    font-family: var(--abril);
    font-weight: 400;
    font-size: 3rem;
    margin: 0px;
    color: var(--dark-brown);
}

.about-content p, .about-content h2{
    font-family: var(--nunito);
    color: var(--dark-brown);
}
.about-content p {
    font-size: 1.2rem;
}


@media (max-width: 480px) {
    .container-abt {
        flex-direction: column-reverse;
        padding: 1rem 0rem;
    }

    .about-content h1 {
        font-size: 2.5rem;
        margin: 0px;
    }

    .about-content h2 {
        font-size: 1.5rem;
    }

    .about-content p {
        font-size: 1rem;
    }

    .img-abt img {
        display: none;
    }

}


@media (max-width: 768px) {
    .container-abt {
        flex-direction: column-reverse;
        padding: 1.5rem 0rem;
    }

    .about-content h1 {
        font-size: 2.8rem;
        margin: 0px;
    }

    .about-content h2 {
        font-size: 1.7rem;
    }

    .about-content p {
        font-size: 1.2rem;
    }

    .img-abt img {
        display: none;
    }

}