.container-abt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.img-abt {
    width: 100%;
    height:82vh;
}

.img-abt img {
    width: 90%;
    height: 100%;
    border: 3px solid var(--dark-brown);
    border-radius: 2rem;
    object-fit: fill;
}

.about-content , .local-disc{
    width: 80%;
    height: 100%;
}

.about-content h1 {
    font-family: var(--abril);
    font-weight: 400;
    font-size: 3rem;
    margin: 0px;
    color: var(--dark-brown);
}

.about-content p, .about-content h2{
    font-family: var(--nunito);
    color: var(--dark-brown);
}
.about-content p {
    font-size: 1.2rem;
}

/* team section */
.team-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--dark-brown);
}

.team-ctn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 5rem;
    flex-direction: column;
}

.team-img {
    width:80%;
    height: 100%;
    padding: 0rem 2rem;
}

.team-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 3px solid var(--light-brown);
    border-radius: 2rem;
}

.team-ctn h2, .team-ctn p {
    color: var(--light-brown);
}

.team-ctn h2 {
    font-family: var(--nunito);
    font-weight: 700;
    font-size: 2rem;
    margin: 0px;
}

.team-ctn p {
    font-family: var(--nunito);
    font-size: 1.3rem;
}

/* bottom */
.container-bot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.local-img {
    width: 100%;
    height:82vh;
}

.local-img img {
    width: 90%;
    height: 100%;
    border: 3px solid var(--dark-brown);
    border-radius: 2rem;
    object-fit: fill;
}

.local-disc {
    display: flex;
    flex-direction: column;
}

.local-disc h2, .local-disc p{
    color: var(--dark-brown);
    font-family: var(--nunito);
}

.local-disc h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0px;
}

.local-disc p {
    font-size: 1.3rem;
}




@media (max-width: 480px) {
    .container-abt {
        flex-direction: column-reverse;
        padding: 1rem 0rem;
    }

    .about-content {
        width: 90%;
        height: 100%;
    }

    .about-content h1 {
        font-size: 8vw !important;
        margin: 0px;
    }

    .about-content h2 {
        width: 100%;
        font-size: 5vw !important;
    }

    .about-content p {
        width: 100%;
        font-size: 3.8vw !important;
    }

    .img-abt {
        display: none;
    }

    .img-abt img {
        display: none;
    }

    /* middle */
    .team-cont {
        flex-direction: column;
    }

    .team-ctn {
        width: 100%;
        height: 100%;
        padding: 0px;
    }


    .team-ctn h2, .local-disc h2{
        font-size: 5vw !important;
    }

    .team-ctn p, .local-disc p{
        font-size: 3.5vw !important;
    }

    .team-img {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .team-img img {
        width: 100vw;
        height: 100vw;
        border-radius: 1.5vw;
        object-fit: contain;
    }

    .container-bot {
        flex-direction: column-reverse;
        width: 100%;
    }

    .local-disc {
        width: 100%;
    }

    .local-img, .local-img img{
        display: none;
    }
}


@media (max-width: 768px) {
    .container-abt {
        flex-direction: column-reverse;
        padding: 1.5rem 0rem;
    }

    .about-content {
        width: 100%;
        padding: 1rem 2rem;
    }

    .about-content h1 {
        font-size: 7.5vw;
        margin: 0px;
    }

    .about-content h2 {
        font-size: 4vw;
        margin: 0px;
    }

    .about-content p {
        font-size: 2.8vw;
    }

    .img-abt {
        display: none;
    }

    .img-abt img {
        display: none;
    }

    /* middle */
    .team-cont {
        flex-direction: column;
    }

    .team-ctn {
        padding: 0px;
    }

    .team-ctn h2, .local-disc h2{
        font-size: 5vw !important;
    }

    .team-ctn p, .local-disc p{
        font-size: 3.5vw !important;
        width: 100%;
    }

    .team-img {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .team-img img {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        object-fit: contain;
    }


    .container-bot {
        flex-direction: column-reverse;
        width: 100%;
    }

    .local-disc {
        width: 100%;
    }

    .local-img, .local-img img{
        display: none;
    }

}