
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0rem 3rem;

}

.container p {
    font-family: var(--nunito);
    font-weight: 400;
}

.container a {
    text-decoration: none;
    font-family: var(--lato);
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--dark-brown);
    color: var(--light-brown);
    transition: 0.3s ease;
}

.container a:hover {
    background-color: var(--light-brown);
    border: 2px solid var(--dark-brown);
    color: var(--dark-brown);
}

.title {
    font-family: var(--nunito);
    font-size: clamp(1rem, 0.8673rem + 3.7915vw, 3rem);

    color: var(--dark-brown);
    text-align: center;
}


/* image responsiveness */
.hero-ctn {
    max-width: 80rem;
    margin-inline: auto;
}

.hero-ctn img {
    max-width: 100%;
    height: auto;
}

.hero-text {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.hero-text p {
    width: 60%;
    color: var(--dark-brown);
}

.hero-text a {
    padding: 1rem 1rem;
}


/* middle */
.about {
    font-family: var(--abril);
    font-weight: 400;
    font-size: 3rem;
    color: var(--dark-brown);
    margin: 0px;
    margin-right: auto;
}

.middle {
    display: flex;
    justify-content: space-between;
}

.mid-img {
    max-width:20em;
    height: auto;
}

.mid-img img {
    max-width: 100%;
    height: auto;

}

.middle p {
    width: 60%;
    font-size: 1.2rem;
    color: var(--dark-brown);
}

.learn-more {
    padding: 1rem 2rem;
    margin-left: 20%;
    margin-right: auto;
}


@media (max-width: 500px) {

    .container {
        margin: 0rem 1rem !important;
    }

    .hero-ctn img {
        width: 100%;
        height: 100%;
    }

    .hero-text {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .title {
        font-size: 6vw !important;
    }
    .hero-text p {
        width: 100%;
        font-size: 3.5vw !important;
    }

    .hero-text a, .container a {
        font-size: 3.5vw !important;
        padding: 2vw 2vw;
    }


    /* middle */
    .about {
        font-size: 6vw !important;
        margin: 1rem 0rem;
        margin-right: auto;
    }

    .middle {
        flex-direction: column-reverse;
        align-items: center;
    }

    .mid-img img {
        width: 100%;
        height: 100%;
    }

    .middle p, .hero-text p{
        width: 100%;
        margin: 0.5rem 0.5rem;
        font-size: 3.2vw !important;
    }

    .learn-more {
        margin-right: 0px;
        margin-left: 0px;
    }

}


@media (max-width: 768px) {

    .container {
        margin: 0rem 1rem !important;
    }

    .hero-ctn {
        width: 100%;
        height: auto;
    }

    .hero-ctn img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .hero-text {
        justify-content: center;
        flex-direction: column;
    }
    .title {
        font-size: 6vw;
        text-align: center;
        margin: 0.5rem 0rem;
    }
    .hero-text p {
        width: 100%;
        font-size: 2.8vw;
    }

    .hero-text a, .container a {
        font-size: 3vw;
        padding: 2vw 2vw;
    }

    /* middle */
    .about {
        font-size: 2rem;
        margin: 0.5rem 0rem;
        margin-right: auto;
    }

    .middle {
        flex-direction: column-reverse;
        align-items: center;
    }

    .mid-img {
        width:100%;
        height: 95%;
    }

    .mid-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    .middle p {
        width: 100%;
        margin: 0.5rem 0.5rem;
        font-size: 2.5vw;
    }

    .learn-more {
        margin-right: 0px;
        margin-left: 0px;
    }

}