.container-abt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem;
}

.container-abt img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 3px solid var(--dark-brown);
    border-radius: 2rem;
}

.about-content, .local-disc {
    width: 80%;
    height: 100%;
}

.about-content h1 {
    font-family: var(--abril);
    font-weight: 400;
    font-size: 3rem;
    margin: 0px;
    color: var(--dark-brown);
}

.about-content p, .about-content h2 {
    font-family: var(--nunito);
    color: var(--dark-brown);
}

.about-content p {
    font-size: 1.3rem;
    line-height: 1.6;
}

.about-content h2 {
    font-weight: 800;
}

/* team section */
.team-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--dark-brown);
}

.team-ctn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem 2rem;
    flex-direction: column;
}

.team-ctn h2, .team-ctn p {
    color: var(--light-brown);
}

.team-ctn h2 {
    font-family: var(--nunito);
    font-weight: 700;
    font-size: 2rem;
    font-weight: 800;
    margin: 0px;
}

.team-ctn p {
    font-family: var(--nunito);
    font-size: 1.3rem;
    line-height: 1.6;
}

.my-team-cont-img {
     width: 100%;
     max-width: 450px;
     height: auto;
}

.team-cont img {
     width: 100%;
     height: auto;
     border: 3px solid var(--light-brown);
     border-radius: 2rem;
     object-fit: contain;
}

/* bottom */
.container-bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 2rem;
    gap: 2rem;
}

.container-bot img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 3px solid var(--dark-brown);
    border-radius: 2rem;
}

.local-disc {
    display: flex;
    flex-direction: column;
}

.local-disc h2, .local-disc p {
    color: var(--dark-brown);
    font-family: var(--nunito);
}

.local-disc h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0px;
}

.local-disc p {
    font-size: 1.3rem;
    line-height: 1.6;
    /* margin-bottom: 10rem; */
}

/* Mobile responsive styling */
@media (max-width: 480px) {
    .container-abt, .container-bot, .team-cont{
        flex-direction: column-reverse;
        gap: 0.5rem !important;
        padding: 0.5rem 1.3rem !important;
    }

    .container-abt img,
    .my-team-cont-img img,
    .container-bot img {
          border-radius: 1rem;
    }

    .about-content {
        width: 100%;
        height: 100%;
    }

    .about-content h1 {
        font-size:10vw !important;
        margin: 0px;
    }

    .team-cont {
        flex-direction: column;
    }

    .team-ctn {
        width: 100%;
        padding: 0px;
    }

    .team-ctn h2, .local-disc h2, .about-content h2{
        font-size: 5.5vw !important;
        width: 100%;
    }

    .team-ctn p, .local-disc p, .about-content p {
        font-size: 4vw !important;
        line-height: 1.3;
        word-break: keep-all;
    }

    .local-disc p {
        width: 100%;
        margin-bottom: 0px !important;
    }
}

/* Tablet responsive styling */
@media (max-width: 820px) {
    .container-abt {
        flex-direction: column-reverse;
        gap: 1rem !important;
        padding: 1rem 2rem;
    }

    .container-abt img {
        width: 60%; /* Adjusted for tablet view */
    }

    .container-abt img,
    .team-img img,
    .container-bot img {
        width: 80% !important; /* Set width for mobile view */
    }

    .about-content {
        width: 100%;
    }

    .about-content h1 {
        font-size: 7.5vw;
        margin: 0px;
    }

    .about-content h2 {
        font-size: 4vw;
        margin: 0px;
    }

    .team-cont {
        flex-direction: column;
    }

    .team-ctn {
        padding: 0px;
    }

    .team-ctn h2, .local-disc h2 {
        font-size: 5vw;
    }

    .team-ctn p, .local-disc p, .about-content p {
        font-size: 3vw;
        line-height: 1.6;
        word-break: keep-all;
    }

    .container-bot {
        flex-direction: column-reverse;
        width: 100%;
    }

    .local-disc {
        width: 100%;
    }
}
