/* Top Navigation */
.top-nav {
     position: sticky;
     top: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--light-brown);
     border-bottom: 3px solid var(--dark-brown);
     padding: 0.5rem 1rem;
     z-index: 999;
}

.logo a {
     font-family: var(--abril);
     font-size: 2rem;
     margin-left: 2rem;
     text-decoration: none;
     color: var(--dark-brown);
}

/* Buttons container */
.buttons ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 1rem;
     margin: 0; /* Ensure no default margin on the ul */
     padding: 0; /* Ensure no default padding on the ul */
}

.buttons li {
     list-style: none;
}

.buttons a {
     text-decoration: none;
     color: var(--dark-brown);
     font-family: var(--nunito);
     font-size: 1rem;
     font-weight: 700;
     position: relative;
}

.buttons a:not(.no-animation):before {
     content: "";
     position: absolute;
     bottom: -2px;
     height: 2px;
     width: 100%;
     background: var(--dark-brown);
     border-radius: 50px;
     transform: scaleX(0);
     transition: transform 0.2s linear;
}

.buttons a:hover:before {
     transform: scaleX(1);
}

/* Navbar Toggle */
.navbar-toggle {
     display: none; /* Hide toggle by default */
     flex-direction: column;
     cursor: pointer;
}
 
.navbar-toggle span {
     height: 4px;
     width: 25px;
     background-color: var(--dark-brown);
     margin: 3px 0;
     transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-40deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -10px) rotate(40deg);
}